h3 BLOG
  .container(ng-controller='TasksCtrl')
    .row
      .col-xs-3
        form
          .form-group
            input.form-control(ng-show='activeUser', type='text', placeholder='title', ng-model='task.title')
    .row
      .col-xs-6
        form
          .form-group
            
            textarea(ng-show='activeUser', rows="20").form-control(placeholder='blog entry', ng-model='task.blog')
    
    .row
      .col-xs-12
        button.btn.btn-info(ng-show='activeUser', ng-click='addTask(task)') Post Blog
    
.rows(ng-repeat='task in afTasks')
  .col-xs-9
    h2 {{task.title}}
    p {{task.blog}}
    p {{task.createdAt | date: 'MM-dd-yyyy'}}
    button.btn-xs.btn-success(ng-show='activeUser', ng-click='editTask(task)') Edit
    button.btn-xs.btn-warning(ng-show='activeUser', ng-click='saveEdit(task)') Save
    button.btn-xs.btn-danger(ng-show='activeUser', ng-click='deleteTask(task)') Delete

  
  
      
      
      
      
  
//- table.table.table-striped
//-   thead
//-     tr
//-       th Edit:
//-       th Delete:
//-       th(ng-click='sort("title")') Title:
//-       th(ng-click='sort("createdAt")') Created At:
//-   tbody
//-     tr(ng-repeat='task in afTasks | orderBy:taskOrder', ng-class='{completed:task.isComplete}')
//-       td: button.btn.btn-xs.btn-link(ng-click='editTask(task)') Edit
//-       td: button.btn.btn-xs.btn-warning(ng-click='deleteTask(task)') Delete
//-       td {{task.title}}
//-       td {{task.dueDate | date:'yyyy-MM-dd'}}
//-       td {{task.priority}}
//-       td: input(type='checkbox', ng-model='task.isComplete', ng-click='toggleComplete(task)')
//-       td {{task.createdAt | date:'yyyy-MM-dd HH:mm:ss a'}}
