h3 BLOG
  .container.center-block(ng-controller='TasksCtrl')
    .row
      .col-xs-3.col-xs-offset-3
        form.form-group
            input.form-control(ng-show='activeUser', type='text', placeholder='title', ng-model='task.title')
    .row
      .col-xs-6.col-xs-offset-3
        form.form-group
            textarea(ng-show='activeUser', rows="20").form-control(placeholder='blog entry', ng-model='task.blog')
    
    .row
      .col-xs-12(ng-show='activeUser')
        button.btn.btn-info(ng-hide='task.$id', ng-click='addTask(task)') Post Blog
        button.btn-xs.btn-warning(ng-show='task.$id', ng-click='saveEdit(task)') Save
    
    .row.blogSquare(ng-repeat='blogEntry in afTasks | orderBy:"-createdAt"')
      .col-xs-8.col-xs-offset-2
        h2 {{blogEntry.title}}
        button.btn-xs.btn-info(ng-click='showBody = !showBody') Read
        h4.text-info(ng-show='showBody') {{blogEntry.blog}}
        h6 {{blogEntry.createdAt | date: 'MM-dd-yyyy'}}
        button.btn-xs.btn-success(ng-show='activeUser', ng-click='editTask(blogEntry)') Edit
        button.btn-xs.btn-danger(ng-show='activeUser', ng-click='deleteTask(blogEntry)') Delete
