h3 ABOUT

.col-xs-4.col-xs-offset-4
  h5 jflksdjflkjsld flkjlskdjflksdjflksdjflksdjflkjsld flkjlskdjflksdjflksdjflksdjflkjsld flkjlskdjflksdjflksdjflksdjflkjsld 

  img.panel(src='http://blog.silverpush.com/wp-content/themes/simplebox/img/in.png')
  img.panel(src='http://www.morganclark.com/wp-content/uploads/2014/05/twitter-4-256.png')
  img.panel(src='http://reno.gov/home/showimage?id=6126')
