nav.navbar.navbar-default(ng-controller='NavCtrl')
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#navbar")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(ui-sref='home'): img.logo(src='http://coderbyte.com/images/ProfilePictures/greygatch.jpg')
      a.navbar-brand(ui-sref='home') Evan Gatchell
    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right(ng-show='activeUser')
        li.navbar-text Hello, Evan.
        li: a(ui-sref='home'): i.fa.fa-home &nbsp; Home
        li: a(ui-sref='about'): i.fa.fa-user &nbsp; About
        li: a(ui-sref='tasks'): i.fa.fa-pencil &nbsp; Blog
        li: button.btn-xs.btn-link.navbar-text(ng-click='logout()'): i.fa.fa-sign-out &nbsp; Logout
      ul.nav.navbar-nav.navbar-right(ng-hide='activeUser')      
        li: a(ui-sref='home'): i.fa.fa-home &nbsp; Home
        li: a(ui-sref='about'): i.fa.fa-user &nbsp; About
        li: a(ui-sref='tasks'): i.fa.fa-check-circle-o &nbsp; Blog
        li: a(ui-sref='login'): i.fa.fa-circle-o-notch &nbsp; Login
